@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 100px 20px;
  width: auto;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#efffb0), to(#f2e6df));
  background: linear-gradient(0deg, #efffb0 0%, #f2e6df 100%); }

.contents__cont-container .text-container p, .contents__cont-container .list-item li, .navigation__nav-container .point-text, .navigation__nav-container .mini-point-container a {
  width: 400;
  display: swap;
  font-family: 'Poppins', sans-serif; }

.header__main-title-container h1, .contents__cont-container .title-container h2, .navigation__nav-container .title-text {
  width: 500;
  display: swap;
  font-family: 'Poppins', sans-serif; }

::-webkit-scrollbar {
  width: 10px; }

/* Трек поле скроллбара */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #72393e;
  background: #72393e; }

/* Ползунок скроллбара */
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px #d5e2d1;
  background: #292e27; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  background-color: #72393e;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 3px; }

.header__main-title-container h1 {
  color: whitesmoke; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  max-height: 100%;
  min-height: 100%; }

.contents {
  background-color: #97a991;
  width: 75%;
  margin: 20px 0px 0px 10px;
  overflow-y: scroll;
  min-height: 100%;
  max-height: 100%;
  padding: 20px;
  border-radius: 3px; }

.contents__cont-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contents__cont-container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 20px;
    padding-bottom: 15px; }
    .contents__cont-container .title-container h2 {
      text-indent: 18px;
      color: #171a17;
      font-size: 28px; }
  .contents__cont-container .text-container {
    padding-bottom: 20px; }
    .contents__cont-container .text-container p {
      color: #171a17;
      font-size: 20px;
      text-indent: 40px; }
  .contents__cont-container .image-container {
    border: 1px solid #97a991;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .contents__cont-container .image-container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid #445240;
      border-radius: 5px;
      padding: 4px;
      width: 80%;
      height: 100%; }
    .contents__cont-container .image-container img {
      border-radius: 5px;
      width: 100%;
      height: auto; }
  .contents__cont-container .video-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    padding-bottom: 20px; }
    .contents__cont-container .video-container .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 2px solid #445240;
      border-radius: 5px;
      padding: 4px;
      height: 100%; }
    .contents__cont-container .video-container iframe {
      width: 740px;
      height: 400px; }
  .contents__cont-container .list-item {
    padding-bottom: 30px; }
    .contents__cont-container .list-item ul {
      padding-left: 60px;
      padding-bottom: 10px; }
    .contents__cont-container .list-item ol {
      padding-left: 100px;
      padding-bottom: 10px; }
      .contents__cont-container .list-item ol li {
        font-size: 18px; }
    .contents__cont-container .list-item li {
      color: #171a17;
      font-size: 20px; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 10px 20px;
  background-color: #232323;
  margin: 20px 10px 0px 0px;
  width: 25%;
  max-height: 100%;
  min-height: 100%;
  overflow-y: scroll;
  border-radius: 3px; }

.navigation__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  .navigation__nav-container .title-line {
    width: 100%;
    height: 3px;
    margin: 5px 0px;
    background-color: #fff; }
  .navigation__nav-container .title-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-bottom: 20px; }
  .navigation__nav-container .title-text {
    font-size: 30px;
    text-transform: uppercase;
    color: whitesmoke; }
  .navigation__nav-container .point-container {
    padding-bottom: 15px;
    margin-bottom: 25px;
    border-bottom: 1px solid whitesmoke; }
  .navigation__nav-container .point-text {
    display: inline;
    font-size: 20px;
    cursor: pointer;
    max-height: 600px;
    color: whitesmoke;
    text-transform: uppercase;
    -webkit-transition: 0.3s;
    transition: 0.3s; }
    .navigation__nav-container .point-text:hover {
      color: #885959; }
  .navigation__nav-container .next-point-container {
    padding-bottom: 3px; }
  .navigation__nav-container .mini-point-container {
    padding: 5px 0px 5px 10px; }
    .navigation__nav-container .mini-point-container a {
      font-size: 18px;
      cursor: pointer;
      color: whitesmoke;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .navigation__nav-container .mini-point-container a:hover {
        color: #802b2b;
        margin-left: 5px; }
